<h1>Angular Demo</h1>

<p>This demo has been written for the Talk &quot;Angular: Component-based HTML5 applications&quot;.</p>

<dl>
    <dt>GitHub Repository</dt>
    <dd><a href="https://github.com/thinktecture/basta-spring-2017-angular-demo">thinktecture/basta-spring-2017-angular-demo</a></dd>
    <dt>Author</dt>
    <dd>Manuel Rauber (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</dd>
    <dt>Slides</dt>
    <dd><a href="https://speakerdeck.com/manuelrauber">Speakerdeck</a></dd>
</dl>
