<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="#">Angular Demo</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/people']">People</a>
            </li>
        </ul>
    </div>
</nav>
